* {
  padding: 0px;
  margin: 0px;
}

.container-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 3.5fr 0.5fr 1fr;
  grid-template-areas: "nav" "header" "main" "page" "footer";
}
@media (min-width: 576px) {
  .container-grid {
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 0.3fr 1fr 0.2fr;
    grid-template-areas: "nav header" "nav main" "nav page" "footer footer";
  }
}

.header {
  grid-area: header;
  background-color: rgb(194, 212, 194);
  border: solid 1px rgb(89, 104, 89);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .header {
    width: 80.4vw;
  }
}

.main {
  grid-area: main;
  background-color: rgb(231, 238, 231);
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 55vh;
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .main {
    height: 66vh;
    width: 80.4vw;
  }
}

.page {
  grid-area: page;
  background-color: rgb(231, 238, 231);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  .page {
    width: 80.7vw;
  }
}

.nav {
  grid-area: nav;
  border: solid 1px rgb(89, 104, 89);
  background-color: rgb(2, 59, 2);
  width: 100vw;
}
@media (min-width: 576px) {
  .nav {
    width: 18vw;
  }
}

.footer {
  grid-area: footer;
  border: solid 1px rgb(89, 104, 89);
  background-color: rgb(2, 59, 2);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .footer {
    width: 98vw;
  }
}

.title-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-nav .logo-nav {
  width: 30vw;
  margin-left: 20px;
  animation: rotar 1300ms linear infinite;
}
.title-nav .logo-nav .imagen-nav {
  width: 90px;
  height: 90px;
}
.title-nav .texto-nav {
  width: 50vw;
  margin-top: 20px;
  margin-left: 50px;
}
.title-nav .texto-nav .name-nav {
  text-align: center;
  color: white;
}
.title-nav .menu-hamburg {
  width: 30vw;
}
.title-nav .menu-hamburg .icono-hamburg {
  width: 30px;
  height: 30px;
  margin-left: 60px;
}
@media (min-width: 576px) {
  .title-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title-nav .menu-hamburg .icono-hamburg {
    display: none;
  }
  .title-nav .texto-nav .name-nav {
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .title-nav .logo-nav {
    text-align: center;
    animation: rotar 1500ms linear infinite;
  }
  .title-nav .logo-nav .imagen-nav {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 1300px) and (max-width: 1920px) {
  .title-nav .texto-nav .name-nav {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: white;
  }
  .title-nav .logo-nav {
    text-align: center;
    animation: rotar 1500ms linear infinite;
  }
  .title-nav .logo-nav .imagen-nav {
    margin-top: 20px;
    width: 180px;
    height: 180px;
  }
}

@keyframes rotar {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateX(-360deg);
  }
}
.title-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title-header .input-header {
  height: 30px;
  width: 200px;
}
@media (min-width: 576px) {
  .title-header .input-header {
    width: 300px;
  }
}
@media (min-width: 1300px) and (max-width: 1920px) {
  .title-header .input-header {
    width: 500px;
  }
}
.title-header .buscar-header {
  margin-left: 8px;
  color: white;
  background-color: rgb(2, 59, 2);
  width: 100px;
  height: 30px;
  border-radius: 13px;
}

.texto-footer {
  color: white;
  text-align: center;
}

.icono-footer {
  width: 24px;
  height: 24px;
  padding: 0px 10px 18px 0px;
}
@media (min-width: 576px) {
  .icono-footer {
    padding: 0px 10px 8px 0px;
  }
}
@media (min-width: 1300px) and (max-width: 1920px) {
  .icono-footer {
    padding: 0px 18px 20px 0px;
  }
}

.card-main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 350px;
  flex-wrap: wrap;
}
.card-main .card {
  border: solid 1px rgb(2, 59, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
  width: 250px;
}
.card-main .card .img-main {
  width: 210px;
  height: 260px;
  margin-top: 20px;
  animation: girar 1500ms linear alternate;
  transition: all 300ms;
}
.card-main .card button {
  margin-bottom: 20px;
  width: 150px;
  border-radius: 20px;
  color: white;
  background-color: rgb(2, 59, 2);
  padding: 5px;
}
.card-main .card .text-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-main .card .text-card p {
  color: rgb(2, 59, 2);
  text-align: center;
  padding: 10px 8px 10px 0px;
}
@media (min-width: 576px) {
  .card-main {
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
  }
  .card-main .card {
    border: solid 1px rgb(2, 59, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-right: 40px;
    width: 200px;
  }
  .card-main .card .img-main {
    width: 110px;
    height: 160px;
    margin-top: 20px;
    animation: girar 1500ms linear alternate;
    transition: all 300ms;
  }
  .card-main .card button {
    margin-bottom: 20px;
    width: 150px;
    border-radius: 20px;
    color: white;
    background-color: rgb(2, 59, 2);
    padding: 5px;
  }
  .card-main .card .text-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card-main .card .text-card p {
    color: rgb(2, 59, 2);
    text-align: center;
    padding: 10px 8px 10px 0px;
  }
}
@media (min-width: 1300px) and (max-width: 1920px) {
  .card-main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
  }
  .card-main .card {
    border: solid 1px rgb(2, 59, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-right: 90px;
    width: 200px;
  }
  .card-main .card .img-main {
    width: 110px;
    height: 160px;
    margin-top: 20px;
    animation: girar 1500ms linear alternate;
    transition: all 300ms;
  }
  .card-main .card button {
    margin-bottom: 20px;
    width: 150px;
    border-radius: 20px;
    color: white;
    background-color: rgb(2, 59, 2);
    padding: 5px;
  }
  .card-main .card .text-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card-main .card .text-card p {
    color: rgb(2, 59, 2);
    text-align: center;
    padding: 10px 8px 10px 0px;
  }
}

.img-main:hover {
  transform: scale(1.3);
}
@keyframes girar {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.i-menu {
  opacity: 0;
}
@media (min-width: 576px) {
  .i-menu {
    padding: 20px;
    opacity: 1;
  }
  .i-menu ul li {
    display: flex;
    padding: 8px;
  }
  .i-menu ul li a {
    color: white;
    text-decoration: none;
  }
}
@media (min-width: 1300px) and (max-width: 1920px) {
  .i-menu {
    margin-top: 20px;
    padding: 20px;
    opacity: 1;
  }
  .i-menu ul li {
    display: flex;
    padding: 18px;
  }
  .i-menu ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}

ul li:hover {
  box-shadow: 0 0 3px 3px #e0ffff;
}/*# sourceMappingURL=style.css.map */